<!DOCTYPE html>
    <head>
        {% load static %}
        {% include "app/header.html"%}

        {% block title %}<title>Discere</title>{% endblock %}

        {% include "app/librerias.html"%}

        {% block libs %} {% endblock %}
    </head>
    <body>
        {% block navbar %} {% include "app/navbar.html" %} {% endblock %}
        <div class="container">
            {% block head %} {% endblock %}

            {% block content %} {% endblock %}
        </div>
    </body>
    {% block footer %} {% include "app/footer.html" %} {% endblock %}
</html>