{% extends "app/master.html" %}

{% block head %}

<h2>SIMA</h2>

{% endblock %}

{% block content %}

<div id="sections">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#introduccion" aria-expanded="true" aria-controls="introduccion">
          Introducción
        </a>
      </h5>
    </div>
    <div id="introduccion" class="collapse show" aria-labelledby="headingOne" >
      <div class="card-body">
        <p class="text-justify">
          <h4 class="mb-0">Problemática</h4>

          <h4 class="mb-0">Motivación</h4>

        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#objetivos" aria-expanded="false" aria-controls="objetivos">
          Objetivos
        </a>
      </h5>
    </div>
    <div id="objetivos" class="collapse" aria-labelledby="headingTwo" >
      <div class="card-body">
        <p class="text-justify">
          <h4 class="mb-0">General</h4>

          <h4 class="mb-0">Específicos</h4>

        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#metodologia" aria-expanded="false" aria-controls="metodologia">
          Metodología
        </a>
      </h5>
    </div>
    <div id="metodologia" class="collapse" aria-labelledby="headingThree" >
      <div class="card-body">
        <p class="text-justify">

        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#datos" aria-expanded="false" aria-controls="datos">
          Datos
        </a>
      </h5>
    </div>
    <div id="datos" class="collapse" aria-labelledby="headingThree" >
      <div class="card-body">
        <p class="text-justify">
          
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#machine_learning" aria-expanded="false" aria-controls="machine_learning">
          Machine Learning
        </a>
      </h5>
    </div>
    <div id="machine_learning" class="collapse" aria-labelledby="headingThree" >
      <div class="card-body">
        <p class="text-justify">
          
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}